:root {
    --lightblue: #00FFFF;
    --darkblue:  #000055;
    --white: #FFFFFF;
    --black: #000000;
  }
  
  body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
  }
  
  li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  .btn {
    position: sticky;
    top: 20px;
    left: 250px;
    height: 35px;
    width: 75px;
    border-radius: 15%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    transition: all 1s ease-in-out;
  }
  
  .light-theme {
    --bg: var(--lightblue);
    --fontColor: var(--black);
    --btnBg: var(--darkblue);
    --btnFontColor: var(--white);
    transition: all 1s ease-in-out;
  }
  
  .dark-theme {
    --bg: var(--darkblue);
    --fontColor: var(--white);
    --btnBg: var(--lightblue);
    --btnFontColor: var(--black);
    transition: all 1s ease-in-out;
  }